<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_adriane"%>
<%end%>
<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>TOP BEAUTY</h1>
		<h2>ADRIANE GALISTEU</h2>
		<h3>10.AGO.2010</h3>
		<h4>WEB</h4>
		<p>
			<strong>Desafio:</strong> criar e ativar a marca de uma nova coleção de esmaltes da Top Beauty no mercado, tendo Adriane Galisteu como garota propaganda e marca licenciada.<br>
			<br>
			<strong>Solução:</strong> criação de uma marca instigante, cuja argumentação desperta o interesse e a curiosidade dos consumidores. Lançamento de uma campanha de divulgação online com hotsite promocional e fan page no Facebook. Desenvolvimento de uma linha diferenciada de material promocional para o ponto de venda.<br>
			<br>
			<strong>Resultados preliminares:</strong><br>
			- Venda de mais de 60% da capacidade padrão mensal de produção antes do lançamento do produto no mercado;<br>
			- Ampliação da cadeia de revendas e distribuidores devido ao interesse no produto e seu material de divulgação promocional;<br>
			- Mais de 1000 visitas ao hotsite na primeira semana de campanha.<br>
		</p>
    </div>
    <div id='images_portifolio'>
		<div id='video_adriane'>
		
			<iframe src="http://player.vimeo.com/video/35886170?title=0&amp;byline=0&amp;portrait=0&amp;color=b48c42" width="468" height="263" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
    	<img src="/images/img_portifolio_adriane_1.png" /><br />
        <img src="/images/img_portifolio_adriane_2.png" /><br />
        <img src="/images/img_portifolio_adriane_3.png" /><br />
        <img src="/images/img_portifolio_adriane_4.png" /><br />
        <img src="/images/img_portifolio_adriane_5.png" /><br />
        <img src="/images/img_portifolio_adriane_6.png" /><br />
        <img src="/images/img_portifolio_adriane_7.png" />
    </div>
</div>