<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_aquaclor"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>NAUTILUS</h1>
		<h2>AQUACLOR G2</h2>
		<h3>10.AGO.2010</h3>
		<h4>IDENTIDADE/WEB</h4>
		<p>
			<strong>Desafio:</strong> Criar uma campanha do produto Aquaclor que envolva todas as revendas, buscando o engajamento dos vendedores e representantes.<br>
			<br>
			<strong>Solução:</strong> Reformular toda a identidade do Aquaclor, buscando a simplicidade na criação e  objetividade em toda a campanha. O Hot site serve como meio de mensurar quem são os melhores vendedores e também para a avaliação de cada revenda.<br>
			<br>
			<strong>Resultados preliminares:</strong><br>
			- Participação de todas as revendas selecionadas<br>
			- Grande aceitação dos vendedores<br>
			- Aumento na imagem do produto<br>
		</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_aquaclor_1.png" /><br />
        <img src="/images/img_portifolio_aquaclor_2.png" /><br />
        <img src="/images/img_portifolio_aquaclor_3.png" /><br />
        <img src="/images/img_portifolio_aquaclor_4.png" /><br />
        <img src="/images/img_portifolio_aquaclor_5.png" /><br />
        <img src="/images/img_portifolio_aquaclor_6.png" />
    </div>
</div>