<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_castelatto"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>CASTELATTO</h1>
		<h3>10.AGO.2010</h3>
		<h4>WEB</h4>
		<p>
			<strong>Desafio:</strong> Reestruturar um website, buscando o estreitamento do relacionamento com as revendas e demonstrar os novos lançamentos atualizados da marca.<br>
			<br>
			<strong>Solução:</strong> criação de areas não finalizadas como buscar revendas, reformular toda a inteligencia utilizada no website e criar catálogos virtuais para o consumidor final.<br>
			<br>
			<strong>Resultados preliminares:</strong><br>
			Os resultados ainda não foram mensurados.<br>
			
		</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_castelatto_1.png" /><br />
        <img src="/images/img_portifolio_castelatto_2.png" /><br />
        <img src="/images/img_portifolio_castelatto_3.png" /><br />
        <img src="/images/img_portifolio_castelatto_4.png" />
    </div>
</div>