<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_ceusystem"%>
<%end%>
<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>CEU SYSTEM</h1>
		<h2>Cloud Computing</h2>
		<!--<h3>10.AGO.2010</h3>-->
		<h4>WEB</h4>
		<p>
      <strong>Case</strong> <br />
      Startup prestadora de serviços em cloud computing, a empresa de tecnologia buscava apresentar seus serviços de forma simples, com argumento objetivo e despojado, por meio de um site comercial e institucional que priorizasse a disposição das informações sobre seus serviços de forma orientar o fluxo de navegação pela experiência do usuário, considerando sua curva de aprendizado e compreensão sobre a empresa e suas soluções.<br />
      <br />
      <strong>Serviços </strong><br />
      Planejamento, Tecnologia Web e Mobile e Design.<br />
      <br />
      <strong>O que fizemos</strong><br />
      •	Planejamento e design de interface do site;<br />
      •	Planejamento e design de argumento de campanha;<br />
      •	Planejamento e desenvolvimento de conteúdo;<br />
      •	Consultoria na roteirização e produção de vídeo explicativo.<br />
      

		</p>



    </div>
    <div id='images_portifolio'>
    	<img src="/images/portfolio/top_ceu.jpg" /><br />
    	<img src="/images/portfolio/top_ceu2.jpg" /><br />
    </div>
</div>