<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_clinicasaraiva"%>
<%end%>
<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>N-ESPORTE</h1>
		<h2>Suplementos</h2>
		<!--<h3>10.AGO.2010</h3>-->
		<h4>WEB</h4>
		<p>
			<strong>Case:</strong>Com experiência no comércio de suplementos alimentares para esportistas e praticantes de atividades físicas, a Nutrisport buscava expandir sua atuação, oferecendo seus produtos em escala nacional, por meio da internet. Além de apenas comercializar suplementos, o conceito do novo empreendimento seria de oferecer total suporte a seus consumidores através do atendimento online por especialistas em nutrição, dedicados a solucionarem dúvidas sobre os produtos e suas aplicações.<br>
			<br>
			Reconhecendo o cenário do mercado, principais concorrentes e considerando os anseios do cliente, desenvolvemos uma estratégia completa para o projeto, desde a concepção da marca até a sua ativação na web.
			<br>
			<strong>Serviços:</strong> Pesquisa, Relações Públicas, Publicidade, Tecnologia Web e Mobile, Branding e Design.<br>
			<br>
			<strong>O que fizemos:</strong><br>
			- Planejamento e desenvolvimento de marca, conceito e identidade visual;<br>
			- Planejamento e ativação de páginas no Facebook e Google + e perfil no Twitter;<br>
			- Planejamento e desenvolvimento de conteúdo, monitoramento de perfis e relacionamento com usuários;<br>
			- Planejamento e design de interface do e-commerce;<br>
			- Desenvolvimento de arquitetura de informação focada na experiência de compra.<br>
		</p>



    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_nesporte_1.png" /><br />
        <img src="/images/img_portifolio_nesporte_2.png" /><br />
        <img src="/images/img_portifolio_nesporte_3.png" /><br />
        <img src="/images/img_portifolio_nesporte_4.png" /><br />
        <img src="/images/img_portifolio_nesporte_5.png" /><br />
    </div>
</div>