<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_clinicasaraiva"%>
<%end%>
<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>CLÍNICA SARAIVA</h1>
		<h2>Cirurgia Plástica e Spa Odontológico</h2>
		<!--<h3>10.AGO.2010</h3>-->
		<h4>WEB / SOCIAL MEDIA / OFFLINE</h4>
		<p>
      <strong>Case</strong> <br />
      Inovadora clínica que une os serviços de cirurgia plástica e SPA odontológico, a empresa buscava ativar sua participação na internet, utilizando a rede como plataforma de promoção de suas instalações, tecnologia e serviços, além de expandir sua presença na mídia local.<br />
      Por meio de uma análise detalhada de cenário, na qual foram considerados fatores de concorrência e restrições de legislação específica, foram identificados os fatores diferenciais para o desenvolvimento de um site adequado às audiências alvo e de um plano de atuação em mídias sociais e publicidade focado nos públicos de interesse da clínica.<br />
      <br />
      <strong>Serviços</strong><br />
      Relações Públicas, Tecnologia Web e Mobile, Publicidade, Design e Mídias Sociais.<br />
      <br />
      <strong> O que fizemos</strong><br />
      •	Análise de posicionamento e cenário;<br />
      •	Planejamento e desenvolvimento de argumento de anúncios para mídia impressa;<br />
      •	Design de anúncios para mídia impressa;<br />
      •	Planejamento e design de interface do site;<br />
      •	Desenvolvimento de arquitetura de informação focada na experiência de navegação do usuário;<br />
      •	Planejamento e desenvolvimento de conteúdo, monitoramento de perfis e relacionamento com usuários em mídias sociais.<br />

		</p>



    </div>
    <div id='images_portifolio'>
    	<img src="/images/portfolio/top_saraiva.jpg" /><br />
    	<img src="/images/portfolio/top_saraiva2.jpg" /><br />
    </div>
</div>