<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_fasterm"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>FASTERM</h1>
		<h3>10.AGO.2010</h3>
		<h4>FULL SERVICE</h4>
		<p>
			<strong>Desafio:</strong> ativar a marca no mercado e desenvolver uma identidade de forte apelo comercial e, também, à economia sustentável.<br>
			<br>
			<strong>Solução:</strong> reformulação da marca e identidade visual, desenvolvimento de materiais voltados à divulgação e vendas, criação de estratégias e campanhas de divulgação.<br>
			<br>
			<strong>Resultados:</strong><br>
			- Aumento do nível de contatos com o departamento de vendas;<br>
			- Aumento da carteira de clientes;<br>
			- Desenvolvimento da marca como referência em alternativa sustentável e econômica para aquecimento de água;<br>
			- Inserção da marca em eventos de representatividade no setor, desenvolvendo relacionamentos com públicos estratégicos.<br>
		</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_fasterm_1.png" /><br />
        <img src="/images/img_portifolio_fasterm_2.png" /><br />
        <img src="/images/img_portifolio_fasterm_3.png" />
    </div>
</div>