<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_ffa"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>FFA</h1>
		<h3>10.AGO.2010</h3>
		<h4>WEB</h4>
		<p>
			<strong>Desafio:</strong> aumentar o volume de vendas de ingressos pela internet no site do evento.<br>
			<br>
			<strong>Solução:</strong> desenvolvimento de um novo layout, organização de conteúdo do site e aplicação de um sistema de compra de ingressos mais simples, didático e eficiente.<br>
			<br>
			<strong>Resultados:</strong><br>
			- Superação da meta de vendas de ingressos em 105% no período de ativação da página;<br>
			- Aumento do volume de visitas à página;<br>
			- Aumento no volume de visitantes da festa em 12%, sendo que 30% do volume total adquiriu seus ingressos pelo site.	<br>
		</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_ffa_1.png" /><br />
        <img src="/images/img_portifolio_ffa_2.png" /><br />
        <img src="/images/img_portifolio_ffa_3.png" /><br />
        <img src="/images/img_portifolio_ffa_4.png" />
    </div>
</div>