<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_giotto"%>
<%end%>
<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>GIOTTO</h1>
		<h2>Produtos plásticos</h2>
		<!--<h3>10.AGO.2010</h3>-->
		<h4>WEB / SOCIAL MEDIA / OFFLINE</h4>
		<p>
      <strong>Case</strong> <br />
      A fabricante de itens de utilidade doméstica em plástico buscava atualizar a apresentação de sua marca e produtos, com o objetivo de desenvolver novos materiais e campanhas com foco no fomento de suas vendas, além de aplicar novas ferramentas e estratégias na internet como forma de suporte às estratégias comerciais. <br />
       <br />
      <strong>Serviços</strong> <br />
      Design, Mídias Sociais, Tecnologia Web e Mobile e Planejamento. <br />
       <br />
      <strong>O que fizemos</strong> <br />
      •	Atualização de marca, conceito e identidade visual; <br />
      •	Design de peças promocionais para pontos de venda; <br />
      •	Design de peças promocionais para distribuidores; <br />
      •	Planejamento de argumento e design de anúncios para mídia impressa; <br />
      •	Planejamento e ativação de página no Facebook; <br />
      •	Planejamento e desenvolvimento de conteúdo, monitoramento de perfis e relacionamento com usuários; <br />
      •	Planejamento e design de interface de site; <br />
      •	Planejamento, design e programação de sistema de busca por revendas e produtos; <br />
      •	Desenvolvimento de arquitetura de informação focada na experiência do usuário. <br />
      
      
		</p>



    </div>
    <div id='images_portifolio'>
    	<img src="/images/portfolio/top_giotto.jpg" /><br />
    	<img src="/images/portfolio/top_giotto2.jpg" /><br />
    	<img src="/images/portfolio/top_giotto3.png" /><br />
    </div>
</div>