<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_giotto"%>
<%end%>
<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>GIOTTO</h1>
		<h2>Produtos plásticos</h2>
		<!--<h3>10.AGO.2010</h3>-->
		<h4>WEB / SOCIAL MEDIA / OFFLINE</h4>
		<p>
      

		</p>



    </div>
    <div id='images_portifolio'>
    	<img src="/images/portfolio/top_giotto.jpg" /><br />
    	<img src="/images/portfolio/top_giotto2.jpg" /><br />
    	<img src="/images/portfolio/top_giotto3.png" /><br />
    </div>
</div>