<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_nautilus"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>NAUTILUS</h1>
		<h3>10.AGO.2010</h3>
		<h4>FULL SERVICE</h4>
		<p><strong>Desafio:</strong> mudar a percepção da marca perante as revendas e ampliar sua presença no mercado de equipamentos e acessórios para piscinas.<br>
		<br>
		<strong>Solução:</strong> reformulação da identidade visual da marca, adoção de slogan, aplicação de pesquisas de opinião com revendas e representantes e realização de ações de aproximação com revendedores e novos clientes.<br>
		<br>
		<strong>Resultados:</strong><br>
		- Aumento do nível de contatos com o departamento de vendas;<br>
		- Ativação de novas revendas em regiões críticas de atuação;<br>
		- Reforço da presença da marca em novas revendas e aproximação do público revendedor;<br>
		- Ampliação do contato com revendedores e acesso a feedback.</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_nautilus_1.png" /><br />
        <img src="/images/img_portifolio_nautilus_2.png" /><br />
        <img src="/images/img_portifolio_nautilus_3.png" /><br />
        <img src="/images/img_portifolio_nautilus_4.png" />
    </div>
</div>