<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_putzmeister"%>
<%end%>
<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    <h1>PUTZMEISTER</h1>
		<h2>Suplementos</h2>
		<!--<h3>10.AGO.2010</h3>-->
		<h4>WEB</h4>
		<p>
			<strong>Case:</strong>Para reposicionar a marca e ampliar sua participação no mercado brasileiro, desenvolvemos para a multinacional alemã, líder no mercado internacional em tecnologia e equipamentos para a construção civil, uma estratégia completa para estabelecimento da marca como referência em inovação, soluções e compromisso com o mercado brasileiro.<br>
			<br>
				A campanha foi desenvolvida com base em pesquisas de opinião com profissionais e principais empresas que atuam no mercado da construção civil no Brasil, apresentando a necessidade de reforçar a exposição e presença da marca no País.  
			<br>
			<strong>Serviços:</strong> Relações Públicas, Pesquisa, Publicidade, Tecnologia Web e Mobile, Mídias Sociais, Pesquisa e Planejamento.<br>
			<br>
			<strong>O que fizemos:</strong><br>
			- Planejamento de organização de participação nos maiores da América Latina no setor (MT Expo e Concrete Show);<br>
			- Pesquisas de opinião, análise de cenário e posicionamento de marca;<br>
			<strong>Planejamento, criação e execução de campanha de posicionamento de marca para o mercado brasileiro:</strong><br>
			Desenvolvimento anúncios para plano de mídia focado em publicações especializadas no segmento;<br>
			Desenvolvimento de aplicativos, para IOS e Android, de catálogo digital e ferramenta de vendas de equipamentos;<br>
			Desenvolvimento de novo site institucional;<br>
			Campanha de relacionamento com formadores de opinião e clientes por meio de mídia alternativa e marketing direto.<br>
		</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_putzmeister_1.png" /><br />
        <img src="/images/img_portifolio_putzmeister_2.png" /><br />
    </div>
</div>