<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_tegula"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>TEGULA</h1>
		<h2>E-COMMERCE</h2>
		<h3>10.AGO.2010</h3>
		<h4>WEB</h4>
		<p>
			<strong>Desafio:</strong> criar um e-commerce para venda de telhas e produtos para telhados pela internet. <br>
			<br>
			<strong>Solução:</strong> desenvolvimento de um site com sistema de vendas integrado às diretrizes do sistema interno da empresa e variáveis de impostos e distribuição para todo o País, inserido as revendas conveniadas no processo logístico de entrega de produtos da empresa, integrando-as ao processo de vendas. www.compretegula.com.br.<br>
			<br>
			<strong>Resultados preliminares:</strong><br>
			- Venda incremental de 10% do faturamento mensal da empresa em todo o Brasil no mês de lançamento e sem divulgação da página;<br>
			- 2870 visitas ao site, sendo, deste total, 2209 visitantes únicos no período de dois meses desde o lançamento da loja, obtendo 28975 visualizações de página; <br>
			- Identificação da necessidade de desenvolvimento de uma campanha de divulgação da página na internet e em mídias offline para potencializar seus resultados.
		</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_tegula_1.png" /><br />
        <img src="/images/img_portifolio_tegula_2.png" /><br />
        <img src="/images/img_portifolio_tegula_3.png" /><br />
        <img src="/images/img_portifolio_tegula_4.png" /><br />
        <img src="/images/img_portifolio_tegula_5.png" />
    </div>
</div>