<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_unilever"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>UNILEVER</h1>
		<h2>MISSÃO LOJA PERFEITA</h2>
		<h3>10.AGO.2010</h3>
		<h4>WEB</h4>
		<p>
			<strong>Desafio:</strong> conquistar o engajamento de mais de 30 mil vendedores de dez distribuidoras espalhadas por todo o território nacional em uma campanha de marketing de incentivo para ativação de novos pontos de venda e ampliação da participação de mercado, melhorando o atual sistema de acompanhamento da campanha.<br>
			<br>
			<strong>Solução:</strong> desenvolvimento de um sistema de premiação mais democrático e equilibrado, reformulação da estrutura do sistema online de acompanhamento de desempenho para um processo mais didático e estreitamento do relacionamento com coordenadores de equipes.<br>
			<br>
			<strong>Resultados preliminares:</strong><br>
			- Ampliação da participação de vendedores;<br>
			- Superação de metas de vendas, sortimento e ativação;<br>
			- Aumento no volume de adesão e engajamento de coordenadores de equipes de vendas.<br>
		
		</p>
		
		<h2>1º Encontro de Gestores da Informação</h2>
		<h3>10.AGO.2010</h3>
		<h4>EVENTO/WEB</h4>
		<p>
			<strong>Desafio:</strong> organizar um evento de confraternização, treinamento e troca de experiências para mais de 50 gestores, responsáveis pela operação do projeto, de distribuidoras parceiras da Unilever, espalhados por todo o País em apenas 20 dias.<br>
			<br>
			<strong>Solução:</strong> realização de um evento de dois dias com jantar e festa de confraternização na noite do primeiro dia e palestras e treinamentos na manhã do segundo dia. Entrega de brindes e produtos da Unilever, todos com a identidade da campanha.<br>
			<br>
			<strong>Resultados:</strong><br>
			- Avaliação do evento como ótimo por 87% dos gestores participantes;<br>
			- Total absorção e aprendizado da nova ferramenta de gestão apresentada no evento;<br>
			- Desenvolvimento de ideias e parâmetros para uma rede social corporativa para os gestores.<br>
		
		</p>
		
		
		
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_unilever_1.png" /><br />
        <img src="/images/img_portifolio_unilever_2.png" /><br />
        <img src="/images/img_portifolio_unilever_3.png" /><br />
        <img src="/images/img_portifolio_unilever_4.png" /><br />
        <img src="/images/img_portifolio_unilever_5.png" />
    </div>
</div>