<%content_for :head do%>
	<%= stylesheet_link_tag "portifolio_wellnessfit"%>
<%end%>

<div id='topo_portifolio'>
	
</div>
<div id='conteudo_portifolio'>
	<div id='texto_portifolio'>
    	<h1>WELLNESSFIT</h1>
		<h3>10.AGO.2010</h3>
		<h4>FULL SERVICE</h4>
		<p>
			<strong>Desafio:</strong> Reformular toda a identidade da empresa, buscando o fortalecimento do mesmo e transparecendo ser uma empresa sólida e competente no mercado de "Vida saudável corporativa".<br>
			<br>
			<strong>Solução:</strong>  Todo o material de identidade foi criado do zero, buscando transparecer em sua marca o que a empresa realmente faz. A criação de um canal web foi essencial para completar toda a história da empresa. Modelos de apresentação com gráficos e demonstrativos se tornou essencial para prospecção e um sistema web para que os gestores (clientes) acompanhem o andamento de cada funcionário dentro das organizações.<br>
			<br>
			<strong>Resultados Preliminares:</strong><br>
			Os atuais clientes sentiram uma empresa mais sólida dentro de suas empresas e perceberam a importância de manter uma empresa com foco na gestão da saúde corporativa, devido ao aumento do engajamento dos colaboradores. O aumento do número de reuniões devido ao material virtual, foi de 67%, transparecendo que a imagem da Wellness Fit obteve um aumento de 158%.
		</p>
    </div>
    <div id='images_portifolio'>
    	<img src="/images/img_portifolio_wellnessfit_1.png" /><br />
        <img src="/images/img_portifolio_wellnessfit_2.png" /><br />
        <img src="/images/img_portifolio_wellnessfit_3.png" /><br />
        <img src="/images/img_portifolio_wellnessfit_4.png" />
    </div>
</div>